.pictr_1{
    height: 100 px;
    width: 100 px;
}
.pictr_2{
    height: 100 px;
    width: 100 px;
}
.pictr_3{
    height: 100 px;
    width: 100 px;
}
.pictr_4{
    height: 100 px;
    width: 100 px;
}
.pictr_5{
    height: 100 px;
    width: 100 px;
}
